<h1>Novo Celular</h1>

<p><%= link_to "Voltar para Celulares", phones_path %></p>


<% if @phone.errors.any? %>
  <div class="errors">
    <h2><%= pluralize(@phone.errors.count, "erro") %> proibiu este celular de ser salvo:</h2>
    <ul>
      <% @phone.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @phone do |f| %>
  <div>
    <%= f.label :brand %>
    <%= f.text_field :brand %>
  </div>

  <div>
    <%= f.label :model %>
    <%= f.text_field :model %>
  </div>

  <div>
    <%= f.label :price %>
    <%= f.number_field :price %>
  </div>

  <div>
    <%= f.submit "Salvar" %>
  </div>
<% end %>