<h1>Novo Sinistro</h1>
<%= link_to "Voltar para Sinistros", claims_path %>

<% if @claim && @claim.errors.any? %>
    <div class="errors">
        <h2><%= pluralize(@claim.errors.count, "erro") %> proibiu este sinistro de ser salvo:</h2>
        <ul>
            <% @claim.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<%= form_with model: @claim do |f| %>
    <div>
        <%= f.label :claim_type %>
        <%= f.text_field :claim_type %>
    </div>

    <div>
        <%= f.label :description %>
        <%= f.text_area :description %>
    </div>

    <div>
        <%= f.label :status %>
        <%= f.text_field :status %>
    </div>

    <div>
        <%= f.label :phone_id %>
        <%= f.collection_select :phone_id, Phone.all, :id, :display_name %>
    </div>

    <div>
        <%= f.submit "Salvar" %>
    </div>
<% end %>
